dont_readme.txt
file1.py
__pycache__/
file2div.py
csv_files/div2.csv
csv_files/div2_.csv
csv_files/Custom_.csv
csv_files/new.xlsx
csv_files/div21.csv
csv_files/new2.xlsx
csv_files/div24.csv
csv_files/Akcje.csv
cwiczenia/